<h2 mat-dialog-title>Modification de </h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline">
        <mat-label>Label</mat-label>
        <input matInput type="text" [(ngModel)]="item.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Position</mat-label>
        <input matInput type="text" [(ngModel)]="item.order">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-flat-button [mat-dialog-close]="item" cdkFocusInitial>Valider</button>
</mat-dialog-actions>