<ng-content></ng-content>
<div class="tabs">
    <div class="tabs-menu">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
            <img src="/assets/icons/home.svg" style="height: 35px;" alt="">
        </a>
        <a [routerLink]="['/top']" routerLinkActive="router-link-active">
            <img src="/assets/icons/list.svg" style="height: 30px;" alt="">
        </a>
        <a [routerLink]="['/infos']" routerLinkActive="router-link-active">
            <img src="/assets/icons/info.svg" style="height: 35px;" alt="">
        </a>
    </div>
</div>